@use "function";
@use "variaveis";

.baixos {
  height: function.em(800);
  background-color: variaveis.$preto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    margin-top: function.em(80);
    display: flex;
    gap: 25px;
  }

  .bg--baixo {
    width: function.em(164);
    height: function.em(550);
    background-color: variaveis.$cinza;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    border: 5px solid variaveis.$cinza;

    &:hover {
      transform: scale(1.1);
      border: 5px solid variaveis.$dourado;
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }

  &__img2 {
    height: 30px;
    // width: 140px;
  }
}
