@use "function";
@use "variaveis";

.carousel {
  position: relative;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
}

.carousel img {
  width: 100vw;
  height: 90vh;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
