@use "variaveis";
@use "function";

.hero {
  &__container {
    background-image: url(../images/rainbowkf/background.png);
    height: function.em(880);

    @media (max-width: 1900px) {
      height: function.em(680);
    }

    &__img-rainbowkf {
      margin-top: function.em(180);
      width: 100%;
      @media (max-width: 1900px) {
        margin-top: function.em(130);
      }
    }

    &__img-mirage {
      // background-color: red;
      margin-top: function.em(140);
      width: 100%;
      @media (max-width: 1900px) {
        margin-top: function.em(80);
        width: 80%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      max-width: function.em(413);
    }

    .simbol {
      margin: 25px 0 25px 0;
      width: 87px;
      height: 3px;
      background-color: variaveis.$dourado;
    }

    &__titulo {
      max-width: function.em(413);
      width: 100%;
      height: function.em(56);
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
    }

    &__texto,
    &__texto2 {
      max-width: function.em(413);
      width: 100%;
      text-align: justify;
      font-weight: 100;
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;

      @media (max-width: 1900px) {
        font-size: 16px;
      }
    }

    &__texto2 {
      margin-top: function.em(100);
      @media (max-width: 1900px) {
        margin-top: function.em(40);
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 25px;
      height: 85px;
      background-color: transparent;
      border: 2px solid rgba(200, 157, 70, 1);
      border-radius: 10px;
      cursor: pointer;

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 32px;
        line-height: 0px;
        text-align: justify;
        color: #ffffff;
      }
    }

    &__rainbowblue {
      width: 847px;
      height: 1000px;

      @media (max-width: 1900px) {
        width: 650px;
        height: 767px;
        // margin-left: 80px;
      }
    }

    &--img {
      display: none;
    }

    &--img.active {
      display: block;
    }
  }
}

.botoes {
  position: absolute;
  width: 40vw;
  display: flex;
  top: 80%;
  gap: 550px;

  &__previous-rainbow,
  &__next-rainbow {
    font-size: 50px;
    padding: 10px;
    background-color: variaveis.$cinza;
    opacity: 0.3;
    border-radius: 10px;
    cursor: pointer;
  }
  @media (min-width: 1900px) {
    gap: 750px;
  }
}
