@use "function";
@use "variaveis";

.header {
  height: 80px;
  background-color: rgba(60, 54, 54, 0.8);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 2;

  &__menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: function.em(340);

    @media (max-width: 1900px) {
      gap: function.em(120);
    }

    &__opcoes {
      width: function.em(800);
      display: flex;
      gap: 63px;
      justify-content: end;
      @media (max-width: 1900px) {
        gap: 33px;
      }

      &__itens {
        list-style: none;

        a {
          text-decoration: none;
          font-size: function.em(16);
          color: variaveis.$dourado;
          text-transform: uppercase;
        }
      }
    }
  }
}
