@use "variaveis";
@use "menu";
@use "function";
@use "hero";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: function.em(1290);
}

.grid2 {
  // background-color: red;
  width: function.em(1280);
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid3 {
  // background-color: red;
  width: function.em(1280);
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
